@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


.buttons {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     flex-direction: row;
}


/******************************************
/* LAYOUT
/*******************************************/
h1 {
     color: white;
     font-size: 5em;
     text-align: center;
     font-family: 'Fredoka One', cursive;
}

body {
     background-repeat: no-repeat;
     background-size: cover;
     background-color: #778DA9;
}

div {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-family: 'Fredoka One', cursive;
}

.buttons {
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 100%;
     flex-direction: row;
     flex-wrap: wrap;
}

button {
     padding: 20px;
     border-radius: 10px;
     background-color: #FAF9F6;
     opacity: 70%;
     border: none;
     color: #3f3f3f;
}

button:hover {
     opacity: 90%;
     cursor: pointer;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 850px) {
     body {
          background-color: #778DA9;
     }
}