@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

.buttons {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     flex-direction: row;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

h1 {
     text-align: center;
     font-family: 'Fredoka One', cursive;
}

ul {
     display: flex;
     justify-content: space-around;
     list-style: none;
     font-family: 'Fredoka One', cursive;
}

a{
     text-decoration: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
