@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/





/******************************************
/* LAYOUT
/*******************************************/
 h1 {
     color: white;
     font-size: 5em;
     text-align: center;
     font-family: 'Fredoka One', cursive;
     text-shadow: 2px 2px rgba(173, 181, 189, 0.8);
}

body {
     background-repeat: no-repeat;
     background-size: cover;
     background-color: #778DA9;
}

div {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     font-family: 'Fredoka One', cursive;
     
}

.buttons {
     display: flex;
     align-items: center;
     justify-content: space-around;
     height: 250px;
     flex-direction: row;
     flex-wrap: wrap;
}

button {
     height: 90px;
     width: 110px;
     border-radius: 10px;
     background-color: #FAF9F6;
     opacity: 70%;
     border: none;
     color: #3f3f3f;
     font-size: 1.1em;
}

button:hover {
     opacity: 90%;
     cursor: pointer;
} 

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (min-device-width: 0px) and (max-device-width: 350px) {
     .buttons {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: nowrap;
          height: 1500px;
     }

     body {
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #778DA9;
          height: 1200px;
     }

}

@media screen and (max-device-width: 700px) {
     h1 {
          font-size: 150px;
     }

     body {
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #778DA9;
          height: 1500px;
     }
}

@media screen and (max-device-width: 850px) {
     body {
          background-repeat: no-repeat;
          background-size: cover;
          background-color: #778DA9;
          height: 2100px;
     }

     h1 {
          font-family: 'Fredoka One', cursive;
          text-align: center;
          font-size: 120px;
     }

     .buttons {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          height: 900px;
          flex-wrap: wrap;
     }

     button {
          height: 200px;
          min-width: 250px;
          font-size: 3rem;
          margin: 40px;
          flex-wrap: wrap;
     }
}



